#blog-overview {
    padding: 40px 20px;
    background-color: #ffffff;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #333;
}

.blog-intro {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.2rem;
    color: #666;
}

.blog-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.blog-post {
    display: grid;
    overflow: hidden;
    transition: transform 0.3s;
    padding: 10px;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.blog-post:hover {
    transform: translateY(-5px);
}

.blog-description {
    padding: 20px;
    flex: 1;
    transition: background-color 0.3s;
}

.blog-description:hover {
    background-color: #ffffff;
}

.blog-description h3 {
    font-size: 1.8rem;
    color: #007bff;
    margin-bottom: 10px;
}

.blog-date {
    font-size: 0.9rem;
    color: #999;
    margin-bottom: 15px;
}

.blog-description p {
    font-size: 1rem;
    line-height: 1.5;
    color: #444;
}

.read-more {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.read-more:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.blog-image-wrapper {
    max-width: 800px;
    flex-shrink: 0;
}

.blog-image {
    width: 100%;
    height: auto;
    border-radius: 32px 8px 32px 8px;
    transition: transform 0.3s;
}

.blog-image:hover {
    transform: scale(1.05);
    filter: grayscale(0.5);
}

@media (max-width: 768px) {
    .blog-post {
        display: grid;
        overflow: hidden;
        transition: transform 0.3s;
        padding: 10px;
        gap: 20px;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: stretch;
        justify-content: center;
        align-content: stretch;
    }
    .blog-description {
        order: 2;
    }
    .blog-image-wrapper {
        order: 1;
    }
    .blog-image-wrapper {
        max-width: 100%;
    }
    .blog-description {
        padding: 15px;
    }
    h1 {
        font-size: 2rem;
    }
    .blog-intro {
        font-size: 1rem;
    }
    .blog-description h3 {
        font-size: 1.5rem;
    }
}
